---
title: Registration Form
draft: false
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/reg_form.js"></script>
<form name="registration" method="POST" data-netlify="true" action="/registration_result">
   The details of your registration will be sent to you, including a unique registration number. Payment details will also be included in that email. Please use your registration number as a reference when paying. Payment should be received by 20 March 2022.
   <ul>
      <li>If your registration is cancelled earlier than 21 days before your date of arrival, your payment will be refunded in full except for a R50 admin fee.</li>
      <li>Cancellations later than 21 days before your date of arrival will not be refunded as the full expenses will already have been incurred for the registration.</li>
   </ul>
   <h2>First Attendee</h2>
   <div class="form-group row">
      <label for="main_first_names" class="col-sm-4 col-form-label">
         First Name(s): 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="main_first_names" name="main_first_names" aria-describedby="main_first_names_help">
         <small id="main_first_names_help" class="form-text text-muted">
            Attendee's first name or names. Please use a real name rather than a nickname - nicknames can however be used for the name badge later in this form.
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="main_last_name" class="col-sm-4 col-form-label">
         Last Name: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="main_last_name" name="main_last_name">
      </div>
   </div>
   <div class="form-group row">
      <label for="main_name_badge" class="col-sm-4 col-form-label">
         Name Badge: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="main_name_badge" name="main_name_badge" aria-describedby="main_name_badge_help">
         <small id="main_name_badge_help" class="form-text text-muted">
            The name to appear on the attendee's name badge. eg Joe Bloggs; Lion John Doe, ZC Wendy Bloggs, PDG Jane Doe
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="main_club" class="col-sm-4 col-form-label">
         Lions Club: 
      </label>
      <div class="col-sm-8">
         <select class="form-control" id="main_club" name="main_club" required>
            <option value="">Please select a club</option>
            <option value="Alberton">Alberton</option>
            <option value="Amanzimtoti">Amanzimtoti</option>
            <option value="Athlone">Athlone</option>
            <option value="Azalea (Lioness)">Azalea (Lioness)</option>
            <option value="Ballito">Ballito</option>
            <option value="Bedfordview">Bedfordview</option>
            <option value="Benoni Benoryn">Benoni Benoryn</option>
            <option value="Benoni Host">Benoni Host</option>
            <option value="Benoni Lakes">Benoni Lakes</option>
            <option value="Benoni Van Rhyn">Benoni Van Rhyn</option>
            <option value="Bergvliet">Bergvliet</option>
            <option value="Bloemfontein">Bloemfontein</option>
            <option value="Brackenfell">Brackenfell</option>
            <option value="Brackenfell (Leos)">Brackenfell (Leos)</option>
            <option value="Bredasdorp">Bredasdorp</option>
            <option value="Bryanston Champions Cyper">Bryanston Champions Cyper</option>
            <option value="Butterworth">Butterworth</option>
            <option value="Cape Of Good Hope">Cape Of Good Hope</option>
            <option value="Cape Town">Cape Town</option>
            <option value="Centurion">Centurion</option>
            <option value="Centurion Lifestyle">Centurion Lifestyle</option>
            <option value="Ceres">Ceres</option>
            <option value="Cowies Hill">Cowies Hill</option>
            <option value="De Grendel">De Grendel</option>
            <option value="De Tyger (Leos)">De Tyger (Leos)</option>
            <option value="Deep South">Deep South</option>
            <option value="Drakenstein">Drakenstein</option>
            <option value="Durban Host">Durban Host</option>
            <option value="Durban South">Durban South</option>
            <option value="Durbanville">Durbanville</option>
            <option value="Durbanville (Leos)">Durbanville (Leos)</option>
            <option value="East Coast">East Coast</option>
            <option value="East London Beacon Bay">East London Beacon Bay</option>
            <option value="East London Port Rex">East London Port Rex</option>
            <option value="Eden">Eden</option>
            <option value="Edenvale">Edenvale</option>
            <option value="Edenvale (Lioness)">Edenvale (Lioness)</option>
            <option value="Estcourt">Estcourt</option>
            <option value="Fish Hoek">Fish Hoek</option>
            <option value="Fort Beaufort">Fort Beaufort</option>
            <option value="Franschhoek">Franschhoek</option>
            <option value="Gansbaai">Gansbaai</option>
            <option value="George">George</option>
            <option value="Germiston">Germiston</option>
            <option value="Gonubie">Gonubie</option>
            <option value="Gordonia">Gordonia</option>
            <option value="Gordons Bay">Gordons Bay</option>
            <option value="Graaff Reinet">Graaff Reinet</option>
            <option value="Groote Schuur">Groote Schuur</option>
            <option value="Grootfontein">Grootfontein</option>
            <option value="Helderberg">Helderberg</option>
            <option value="Helderkruin">Helderkruin</option>
            <option value="Henley On Klip">Henley On Klip</option>
            <option value="Henties Bay">Henties Bay</option>
            <option value="Hibberdene">Hibberdene</option>
            <option value="Hilton">Hilton</option>
            <option value="Hout Bay">Hout Bay</option>
            <option value="Howick-uMngeni">Howick-uMngeni</option>
            <option value="Kensington">Kensington</option>
            <option value="Kimberley">Kimberley</option>
            <option value="King William's Town">King William's Town</option>
            <option value="Kingsburgh">Kingsburgh</option>
            <option value="Kirstenbosch">Kirstenbosch</option>
            <option value="Klerksdorp">Klerksdorp</option>
            <option value="Knysna">Knysna</option>
            <option value="Komga">Komga</option>
            <option value="Kouga">Kouga</option>
            <option value="Krugersdorp">Krugersdorp</option>
            <option value="Kuilsriver">Kuilsriver</option>
            <option value="Ladysmith">Ladysmith</option>
            <option value="Letaba Tzaneen">Letaba Tzaneen</option>
            <option value="Mafikeng">Mafikeng</option>
            <option value="Malgas">Malgas</option>
            <option value="Malmesbury">Malmesbury</option>
            <option value="Manzini">Manzini</option>
            <option value="Merriman">Merriman</option>
            <option value="Midrand">Midrand</option>
            <option value="Milnerton">Milnerton</option>
            <option value="Mitchells Plain">Mitchells Plain</option>
            <option value="Moorreesburg">Moorreesburg</option>
            <option value="Mossel Bay St Blaize">Mossel Bay St Blaize</option>
            <option value="Nelspruit">Nelspruit</option>
            <option value="Newcastle">Newcastle</option>
            <option value="Newlands">Newlands</option>
            <option value="Newlands (Leos)">Newlands (Leos)</option>
            <option value="Noll">Noll</option>
            <option value="North Durban">North Durban</option>
            <option value="Northcliff">Northcliff</option>
            <option value="Otavi">Otavi</option>
            <option value="Paarl">Paarl</option>
            <option value="Phalaborwa">Phalaborwa</option>
            <option value="Pietersburg">Pietersburg</option>
            <option value="Plett Baia Formosa">Plett Baia Formosa</option>
            <option value="Port Alfred">Port Alfred</option>
            <option value="Port Elizabeth Cape Recife">Port Elizabeth Cape Recife</option>
            <option value="Port Elizabeth Host">Port Elizabeth Host</option>
            <option value="Port Elizabeth St Croix">Port Elizabeth St Croix</option>
            <option value="Port Shepstone">Port Shepstone</option>
            <option value="Porterville">Porterville</option>
            <option value="Potchefstroom">Potchefstroom</option>
            <option value="Pretoria City">Pretoria City</option>
            <option value="Pretoria Jakaranda">Pretoria Jakaranda</option>
            <option value="Pretoria South">Pretoria South</option>
            <option value="Ramsgate">Ramsgate</option>
            <option value="Rehoboth">Rehoboth</option>
            <option value="Reitz">Reitz</option>
            <option value="Roodepoort Clearwater Cyber">Roodepoort Clearwater Cyber</option>
            <option value="Roodepoort Host">Roodepoort Host</option>
            <option value="Rustenburg">Rustenburg</option>
            <option value="Scottburgh">Scottburgh</option>
            <option value="Sea Point">Sea Point</option>
            <option value="Sedgefield">Sedgefield</option>
            <option value="Shelly Beach">Shelly Beach</option>
            <option value="Standerton">Standerton</option>
            <option value="Stellenbosch">Stellenbosch</option>
            <option value="Stilfontein">Stilfontein</option>
            <option value="Still Bay">Still Bay</option>
            <option value="Swakopmund">Swakopmund</option>
            <option value="Swellendam">Swellendam</option>
            <option value="Table View">Table View</option>
            <option value="The Wilds">The Wilds</option>
            <option value="Tokai">Tokai</option>
            <option value="Tsumeb">Tsumeb</option>
            <option value="Tulbagh">Tulbagh</option>
            <option value="Tygerberg Hills">Tygerberg Hills</option>
            <option value="Uitenhage">Uitenhage</option>
            <option value="Uniondale">Uniondale</option>
            <option value="Vereeniging">Vereeniging</option>
            <option value="Vredendal">Vredendal</option>
            <option value="Vryheid">Vryheid</option>
            <option value="Walvis Bay">Walvis Bay</option>
            <option value="Wellington">Wellington</option>
            <option value="Weltevreden">Weltevreden</option>
            <option value="Wilro Park">Wilro Park</option>
            <option value="Windhoek">Windhoek</option>
            <option value="Windhoek Alte Feste">Windhoek Alte Feste</option>
            <option value="Worcester">Worcester</option>
            <option value="Other Club">Other Club</option>
         </select>
      </div>
   </div>
   <div class="form-group row">
      <label for="main_cell" class="col-sm-4 col-form-label">
         Cell Phone: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="main_cell" name="main_cell" aria-describedby="main_cell_help">
         <small id="main_cell_help" class="form-text text-muted">
            A cellphone number the attendee can be reached at if needed. This number may also be used for urgent SMSes for changes of plan during the convention.
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="main_email" class="col-sm-4 col-form-label">
         Email Address: 
      </label>
      <div class="col-sm-8">
         <input type="email"  class="form-control" id="main_email" name="main_email">
      </div>
   </div>
   <div class="form-group row">
      <label for="main_dietary" class="col-sm-4 col-form-label">
         Dietary Requirements: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="main_dietary" name="main_dietary" aria-describedby="main_dietary_help">
         <small id="main_dietary_help" class="form-text text-muted">
            Please be VERY clear with these requirements. eg halal, kosher, vegetarian, allergic to dairy
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="main_disability" class="col-sm-4 col-form-label">
         Special Access Requirements: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="main_disability" name="main_disability" aria-describedby="main_disability_help">
         <small id="main_disability_help" class="form-text text-muted">
            Please indicate any requirements for wheel chair access or the like, if applicable
         </small>
      </div>
   </div>
   <div class="form-check">
      <input class="form-check-input" type="checkbox" value="main_first_mdc" name="main_first_mdc" id="main_first_mdc">
      <label class="form-check-label" for="main_first_mdc">
         This will be the attendee's first Multiple District Convention
      </label>
   </div>
   <div class="form-check">
      <input class="form-check-input" type="checkbox" value="main_mjf_lunch" name="main_mjf_lunch" id="main_mjf_lunch" aria-describedby="main_mjf_lunch_help">
      <label class="form-check-label" for="main_mjf_lunch">
         Attendee will attend the Melvin Jones Lunch.
      </label>
      <small id="main_mjf_lunch_help" class="form-text text-muted">
         This lunch is only open to Melvin Jones Fellows. Details will be provided closer to the time.
      </small>
   </div>
   <div class="form-check">
      <input class="form-check-input" type="checkbox" value="main_pdg_dinner" name="main_pdg_dinner" id="main_pdg_dinner" aria-describedby="main_pdg_dinner_help">
      <label class="form-check-label" for="main_pdg_dinner">
         Attendee will attend the PDGs Dinner.
      </label>
      <small id="main_pdg_dinner_help" class="form-text text-muted">
         This event is only open to PDGs and their partners and may carry an extra cost. Details will be provided closer to the time.
      </small>
   </div>
   <div class="form-check">
      <input class="form-check-input" type="checkbox" value="main_lpe_breakfast" name="main_lpe_breakfast" id="main_lpe_breakfast" aria-describedby="main_lpe_breakfast_help">
      <label class="form-check-label" for="main_lpe_breakfast">
         Attendee will attend the President's Elect breakfast.
      </label>
      <small id="main_lpe_breakfast_help" class="form-text text-muted">
         A gathering for Lions who will serve as club president in the 2022/23 Lionistic year. Details will be provided closer to the time.
      </small>
   </div>
   <hr>
   <div class="form-group row">
      <div class="form-check">
         <input class="form-check-input" type="radio" name="partner" id="partner_none" value="partner_none" checked>
         <label class="form-check-label" for="partner_none">
            No partner will be coming with me
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="partner" id="partner_lion" value="partner_lion">
         <label class="form-check-label" for="partner_lion">
            My Lion partner will be coming with me
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="partner" id="partner_non_lion" value="partner_non_lion">
         <label class="form-check-label" for="partner_non_lion">
            My non-Lion partner in service will be coming with me
         </label>
      </div>
   </div>
   <div id="partner_lion_div">
      <fieldset id="partner_lion_fs" disabled>
         <h2>Lion Partner</h2>
         <div class="form-group row">
            <label for="partner_lion_first_names" class="col-sm-4 col-form-label">
               First Name(s): 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_lion_first_names" name="partner_lion_first_names" aria-describedby="partner_lion_first_names_help">
               <small id="partner_lion_first_names_help" class="form-text text-muted">
                  Attendee's first name or names. Please use a real name rather than a nickname - nicknames can however be used for the name badge later in this form.
               </small>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_lion_last_name" class="col-sm-4 col-form-label">
               Last Name: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_lion_last_name" name="partner_lion_last_name">
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_lion_name_badge" class="col-sm-4 col-form-label">
               Name Badge: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_lion_name_badge" name="partner_lion_name_badge" aria-describedby="partner_lion_name_badge_help">
               <small id="partner_lion_name_badge_help" class="form-text text-muted">
                  The name to appear on the attendee's name badge. eg Joe Bloggs; Lion John Doe, ZC Wendy Bloggs, PDG Jane Doe
               </small>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_lion_club" class="col-sm-4 col-form-label">
               Lions Club: 
            </label>
            <div class="col-sm-8">
               <select class="form-control" id="partner_lion_club" name="partner_lion_club">
                  <option value="">Please select a club</option>
                  <option value="Alberton">Alberton</option>
                  <option value="Amanzimtoti">Amanzimtoti</option>
                  <option value="Athlone">Athlone</option>
                  <option value="Azalea (Lioness)">Azalea (Lioness)</option>
                  <option value="Ballito">Ballito</option>
                  <option value="Bedfordview">Bedfordview</option>
                  <option value="Benoni Benoryn">Benoni Benoryn</option>
                  <option value="Benoni Host">Benoni Host</option>
                  <option value="Benoni Lakes">Benoni Lakes</option>
                  <option value="Benoni Van Rhyn">Benoni Van Rhyn</option>
                  <option value="Bergvliet">Bergvliet</option>
                  <option value="Bloemfontein">Bloemfontein</option>
                  <option value="Brackenfell">Brackenfell</option>
                  <option value="Brackenfell (Leos)">Brackenfell (Leos)</option>
                  <option value="Bredasdorp">Bredasdorp</option>
                  <option value="Bryanston Champions Cyper">Bryanston Champions Cyper</option>
                  <option value="Butterworth">Butterworth</option>
                  <option value="Cape Of Good Hope">Cape Of Good Hope</option>
                  <option value="Cape Town">Cape Town</option>
                  <option value="Centurion">Centurion</option>
                  <option value="Centurion Lifestyle">Centurion Lifestyle</option>
                  <option value="Ceres">Ceres</option>
                  <option value="Cowies Hill">Cowies Hill</option>
                  <option value="De Grendel">De Grendel</option>
                  <option value="De Tyger (Leos)">De Tyger (Leos)</option>
                  <option value="Deep South">Deep South</option>
                  <option value="Drakenstein">Drakenstein</option>
                  <option value="Durban Host">Durban Host</option>
                  <option value="Durban South">Durban South</option>
                  <option value="Durbanville">Durbanville</option>
                  <option value="Durbanville (Leos)">Durbanville (Leos)</option>
                  <option value="East Coast">East Coast</option>
                  <option value="East London Beacon Bay">East London Beacon Bay</option>
                  <option value="East London Port Rex">East London Port Rex</option>
                  <option value="Eden">Eden</option>
                  <option value="Edenvale">Edenvale</option>
                  <option value="Edenvale (Lioness)">Edenvale (Lioness)</option>
                  <option value="Estcourt">Estcourt</option>
                  <option value="Fish Hoek">Fish Hoek</option>
                  <option value="Fort Beaufort">Fort Beaufort</option>
                  <option value="Franschhoek">Franschhoek</option>
                  <option value="Gansbaai">Gansbaai</option>
                  <option value="George">George</option>
                  <option value="Germiston">Germiston</option>
                  <option value="Gonubie">Gonubie</option>
                  <option value="Gordonia">Gordonia</option>
                  <option value="Gordons Bay">Gordons Bay</option>
                  <option value="Graaff Reinet">Graaff Reinet</option>
                  <option value="Groote Schuur">Groote Schuur</option>
                  <option value="Grootfontein">Grootfontein</option>
                  <option value="Helderberg">Helderberg</option>
                  <option value="Helderkruin">Helderkruin</option>
                  <option value="Henley On Klip">Henley On Klip</option>
                  <option value="Henties Bay">Henties Bay</option>
                  <option value="Hibberdene">Hibberdene</option>
                  <option value="Hilton">Hilton</option>
                  <option value="Hout Bay">Hout Bay</option>
                  <option value="Howick-uMngeni">Howick-uMngeni</option>
                  <option value="Kensington">Kensington</option>
                  <option value="Kimberley">Kimberley</option>
                  <option value="King William's Town">King William's Town</option>
                  <option value="Kingsburgh">Kingsburgh</option>
                  <option value="Kirstenbosch">Kirstenbosch</option>
                  <option value="Klerksdorp">Klerksdorp</option>
                  <option value="Knysna">Knysna</option>
                  <option value="Komga">Komga</option>
                  <option value="Kouga">Kouga</option>
                  <option value="Krugersdorp">Krugersdorp</option>
                  <option value="Kuilsriver">Kuilsriver</option>
                  <option value="Ladysmith">Ladysmith</option>
                  <option value="Letaba Tzaneen">Letaba Tzaneen</option>
                  <option value="Mafikeng">Mafikeng</option>
                  <option value="Malgas">Malgas</option>
                  <option value="Malmesbury">Malmesbury</option>
                  <option value="Manzini">Manzini</option>
                  <option value="Merriman">Merriman</option>
                  <option value="Midrand">Midrand</option>
                  <option value="Milnerton">Milnerton</option>
                  <option value="Mitchells Plain">Mitchells Plain</option>
                  <option value="Moorreesburg">Moorreesburg</option>
                  <option value="Mossel Bay St Blaize">Mossel Bay St Blaize</option>
                  <option value="Nelspruit">Nelspruit</option>
                  <option value="Newcastle">Newcastle</option>
                  <option value="Newlands">Newlands</option>
                  <option value="Newlands (Leos)">Newlands (Leos)</option>
                  <option value="Noll">Noll</option>
                  <option value="North Durban">North Durban</option>
                  <option value="Northcliff">Northcliff</option>
                  <option value="Otavi">Otavi</option>
                  <option value="Paarl">Paarl</option>
                  <option value="Phalaborwa">Phalaborwa</option>
                  <option value="Pietersburg">Pietersburg</option>
                  <option value="Plett Baia Formosa">Plett Baia Formosa</option>
                  <option value="Port Alfred">Port Alfred</option>
                  <option value="Port Elizabeth Cape Recife">Port Elizabeth Cape Recife</option>
                  <option value="Port Elizabeth Host">Port Elizabeth Host</option>
                  <option value="Port Elizabeth St Croix">Port Elizabeth St Croix</option>
                  <option value="Port Shepstone">Port Shepstone</option>
                  <option value="Porterville">Porterville</option>
                  <option value="Potchefstroom">Potchefstroom</option>
                  <option value="Pretoria City">Pretoria City</option>
                  <option value="Pretoria Jakaranda">Pretoria Jakaranda</option>
                  <option value="Pretoria South">Pretoria South</option>
                  <option value="Ramsgate">Ramsgate</option>
                  <option value="Rehoboth">Rehoboth</option>
                  <option value="Reitz">Reitz</option>
                  <option value="Roodepoort Clearwater Cyber">Roodepoort Clearwater Cyber</option>
                  <option value="Roodepoort Host">Roodepoort Host</option>
                  <option value="Rustenburg">Rustenburg</option>
                  <option value="Scottburgh">Scottburgh</option>
                  <option value="Sea Point">Sea Point</option>
                  <option value="Sedgefield">Sedgefield</option>
                  <option value="Shelly Beach">Shelly Beach</option>
                  <option value="Standerton">Standerton</option>
                  <option value="Stellenbosch">Stellenbosch</option>
                  <option value="Stilfontein">Stilfontein</option>
                  <option value="Still Bay">Still Bay</option>
                  <option value="Swakopmund">Swakopmund</option>
                  <option value="Swellendam">Swellendam</option>
                  <option value="Table View">Table View</option>
                  <option value="The Wilds">The Wilds</option>
                  <option value="Tokai">Tokai</option>
                  <option value="Tsumeb">Tsumeb</option>
                  <option value="Tulbagh">Tulbagh</option>
                  <option value="Tygerberg Hills">Tygerberg Hills</option>
                  <option value="Uitenhage">Uitenhage</option>
                  <option value="Uniondale">Uniondale</option>
                  <option value="Vereeniging">Vereeniging</option>
                  <option value="Vredendal">Vredendal</option>
                  <option value="Vryheid">Vryheid</option>
                  <option value="Walvis Bay">Walvis Bay</option>
                  <option value="Wellington">Wellington</option>
                  <option value="Weltevreden">Weltevreden</option>
                  <option value="Wilro Park">Wilro Park</option>
                  <option value="Windhoek">Windhoek</option>
                  <option value="Windhoek Alte Feste">Windhoek Alte Feste</option>
                  <option value="Worcester">Worcester</option>
                  <option value="Other Club">Other Club</option>
               </select>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_lion_cell" class="col-sm-4 col-form-label">
               Cell Phone: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_lion_cell" name="partner_lion_cell" aria-describedby="partner_lion_cell_help">
               <small id="partner_lion_cell_help" class="form-text text-muted">
                  A cellphone number the attendee can be reached at if needed. This number may also be used for urgent SMSes for changes of plan during the convention.
               </small>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_lion_email" class="col-sm-4 col-form-label">
               Email Address: 
            </label>
            <div class="col-sm-8">
               <input type="email"  class="form-control" id="partner_lion_email" name="partner_lion_email">
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_lion_dietary" class="col-sm-4 col-form-label">
               Dietary Requirements: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_lion_dietary" name="partner_lion_dietary" aria-describedby="partner_lion_dietary_help">
               <small id="partner_lion_dietary_help" class="form-text text-muted">
                  Please be VERY clear with these requirements. eg halal, kosher, vegetarian, allergic to dairy
               </small>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_lion_disability" class="col-sm-4 col-form-label">
               Special Access Requirements: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_lion_disability" name="partner_lion_disability" aria-describedby="partner_lion_disability_help">
               <small id="partner_lion_disability_help" class="form-text text-muted">
                  Please indicate any requirements for wheel chair access or the like, if applicable
               </small>
            </div>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_lion_first_mdc" name="partner_lion_first_mdc" id="partner_lion_first_mdc">
            <label class="form-check-label" for="partner_lion_first_mdc">
               This will be the attendee's first Multiple District Convention
            </label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_lion_mjf_lunch" name="partner_lion_mjf_lunch" id="partner_lion_mjf_lunch" aria-describedby="partner_lion_mjf_lunch_help">
            <label class="form-check-label" for="partner_lion_mjf_lunch">
               Attendee will attend the Melvin Jones Lunch.
            </label>
            <small id="partner_lion_mjf_lunch_help" class="form-text text-muted">
               This lunch is only open to Melvin Jones Fellows. Details will be provided closer to the time.
            </small>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_lion_pdg_dinner" name="partner_lion_pdg_dinner" id="partner_lion_pdg_dinner" aria-describedby="partner_lion_pdg_dinner_help">
            <label class="form-check-label" for="partner_lion_pdg_dinner">
               Attendee will attend the PDGs Dinner.
            </label>
            <small id="partner_lion_pdg_dinner_help" class="form-text text-muted">
               This event is only open to PDGs and their partners and may carry an extra cost. Details will be provided closer to the time.
            </small>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_lion_lpe_breakfast" name="partner_lion_lpe_breakfast" id="partner_lion_lpe_breakfast" aria-describedby="partner_lion_lpe_breakfast_help">
            <label class="form-check-label" for="partner_lion_lpe_breakfast">
               Attendee will attend the President's Elect breakfast.
            </label>
            <small id="partner_lion_lpe_breakfast_help" class="form-text text-muted">
               A gathering for Lions who will serve as club president in the 2022/23 Lionistic year. Details will be provided closer to the time.
            </small>
         </div>
      </fieldset>
   </div>
   <div id="partner_non_lion_div">
      <fieldset id="partner_non_lion_fs" disabled>
         <h2>Non Lion Partner</h2>
         <div class="form-group row">
            <label for="partner_non_lion_first_names" class="col-sm-4 col-form-label">
               First Name(s): 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_non_lion_first_names" name="partner_non_lion_first_names" aria-describedby="partner_non_lion_first_names_help">
               <small id="partner_non_lion_first_names_help" class="form-text text-muted">
                  Attendee's first name or names. Please use a real name rather than a nickname - nicknames can however be used for the name badge later in this form.
               </small>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_non_lion_last_name" class="col-sm-4 col-form-label">
               Last Name: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_non_lion_last_name" name="partner_non_lion_last_name">
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_non_lion_name_badge" class="col-sm-4 col-form-label">
               Name Badge: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_non_lion_name_badge" name="partner_non_lion_name_badge" aria-describedby="partner_non_lion_name_badge_help">
               <small id="partner_non_lion_name_badge_help" class="form-text text-muted">
                  The name to appear on the attendee's name badge. eg Joe Bloggs, Partner in Service Jane Doe
               </small>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_non_lion_cell" class="col-sm-4 col-form-label">
               Cell Phone: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_non_lion_cell" name="partner_non_lion_cell" aria-describedby="partner_non_lion_cell_help">
               <small id="partner_non_lion_cell_help" class="form-text text-muted">
                  A cellphone number the attendee can be reached at if needed. This number may also be used for urgent SMSes for changes of plan during the convention.
               </small>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_non_lion_email" class="col-sm-4 col-form-label">
               Email Address: 
            </label>
            <div class="col-sm-8">
               <input type="email"  class="form-control" id="partner_non_lion_email" name="partner_non_lion_email">
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_non_lion_dietary" class="col-sm-4 col-form-label">
               Dietary Requirements: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_non_lion_dietary" name="partner_non_lion_dietary" aria-describedby="partner_non_lion_dietary_help">
               <small id="partner_non_lion_dietary_help" class="form-text text-muted">
                  Please be VERY clear with these requirements. eg halal, kosher, vegetarian, allergic to dairy
               </small>
            </div>
         </div>
         <div class="form-group row">
            <label for="partner_non_lion_disability" class="col-sm-4 col-form-label">
               Special Access Requirements: 
            </label>
            <div class="col-sm-8">
               <input type="text"  class="form-control" id="partner_non_lion_disability" name="partner_non_lion_disability" aria-describedby="partner_non_lion_disability_help">
               <small id="partner_non_lion_disability_help" class="form-text text-muted">
                  Please indicate any requirements for wheel chair access or the like, if applicable
               </small>
            </div>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_non_lion_first_mdc" name="partner_non_lion_first_mdc" id="partner_non_lion_first_mdc">
            <label class="form-check-label" for="partner_non_lion_first_mdc">
               This will be the attendee's first Multiple District Convention
            </label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_non_lion_mjf_lunch" name="partner_non_lion_mjf_lunch" id="partner_non_lion_mjf_lunch" aria-describedby="partner_non_lion_mjf_lunch_help">
            <label class="form-check-label" for="partner_non_lion_mjf_lunch">
               Attendee will attend the Melvin Jones Lunch.
            </label>
            <small id="partner_non_lion_mjf_lunch_help" class="form-text text-muted">
               This lunch is only open to Melvin Jones Fellows. Details will be provided closer to the time.
            </small>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_non_lion_pdg_dinner" name="partner_non_lion_pdg_dinner" id="partner_non_lion_pdg_dinner" aria-describedby="partner_non_lion_pdg_dinner_help">
            <label class="form-check-label" for="partner_non_lion_pdg_dinner">
               Attendee will attend the PDGs Dinner.
            </label>
            <small id="partner_non_lion_pdg_dinner_help" class="form-text text-muted">
               This event is only open to PDGs and their partners and may carry an extra cost. Details will be provided closer to the time.
            </small>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_non_lion_lpe_breakfast" name="partner_non_lion_lpe_breakfast" id="partner_non_lion_lpe_breakfast" aria-describedby="partner_non_lion_lpe_breakfast_help">
            <label class="form-check-label" for="partner_non_lion_lpe_breakfast">
               Attendee will attend the President's Elect breakfast.
            </label>
            <small id="partner_non_lion_lpe_breakfast_help" class="form-text text-muted">
               A gathering for Lions who will serve as club president in the 2022/23 Lionistic year. Details will be provided closer to the time.
            </small>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="partner_non_lion_partner_program" name="partner_non_lion_partner_program" id="partner_non_lion_partner_program" aria-describedby="partner_non_lion_partner_program_help">
            <label class="form-check-label" for="partner_non_lion_partner_program">
               Attendee would be interested in the partner's program.
            </label>
            <small id="partner_non_lion_partner_program_help" class="form-text text-muted">
               The partner's program may involve an additional cost. Details will be provided closer to the time.
            </small>
         </div>
      </fieldset>
   </div>
   <hr>
   <hr>
   <h2>Convention Pins</h2>
   <div class="form-group row">
      <label for="pins" class="col-sm-8 col-form-label">
         Total Number of Convention Pins (R50 per pin): 
      </label>
      <div class="col-sm-4">
         <input type="number" min="0" value="0" class="form-control total" id="pins" name="pins" cost=50>
      </div>
   </div>
   <input type="hidden"  class="form-control total" id="windbreaker_s" name="windbreaker_s" cost=350 disabled>
   <input type="hidden"  class="form-control total" id="windbreaker_m" name="windbreaker_m" cost=350 disabled>
   <input type="hidden"  class="form-control total" id="windbreaker_l" name="windbreaker_l" cost=350 disabled>
   <input type="hidden"  class="form-control total" id="windbreaker_xl" name="windbreaker_xl" cost=350 disabled>
   <input type="hidden"  class="form-control total" id="windbreaker_2xl" name="windbreaker_2xl" cost=350 disabled>
   <input type="hidden"  class="form-control total" id="windbreaker_3xl" name="windbreaker_3xl" cost=350 disabled>
   <input type="hidden"  class="form-control total" id="windbreaker_4xl" name="windbreaker_4xl" cost=350 disabled>
   <input type="hidden"  class="form-control total" id="windbreaker_5xl" name="windbreaker_5xl" cost=350 disabled>
   <hr>
   <h2>Transport</h2>
   <div class="form-group row">
      <label for="transport" class="col-sm-8 col-form-label">
         Transport to and from the airport (R200 per person): 
      </label>
      <div class="col-sm-4">
         <input type="number" min="0" value="0" class="form-control total" id="transport" name="transport" cost=200>
      </div>
   </div>
   <hr>
   <div class="form-group row">
      <center>
         <label id=total_cost><h3>Total Cost: R0</h3></label>
      </center>
   </div>
   <center>
      <button type="submit">Submit Registration Form</button>
   </center>
</form>